<div class="footer-container10">
  <div class="footer-container11">
    <div class="footer-container12">
      <h1 class="footer-text10 TextXL">
        <span>Wish you have a colorful life!</span>
      </h1>
      <span class="footer-text12">
        "Life is a painting, and you are the artist. You have on your palette all the colors in the spectrum - the same ones available to Michaelangelo and DaVinci." 
        <br>
        (Paul J. Meyer - American entrepreneur, author, and pioneer in the field of personal development and self-improvement)
      </span>
    </div>
  <div class="footer-container21"></div>
  <span class="footer-text23 TextSM">
    Vladutu Narcis-Georgel
  </span>
</div>
