<div class="service-card-container1">
  <h1 class="service-card-text1 TextXL">{{ heading }}</h1>
  <span class="service-card-text2">
    <b>Eastern and Asian Cultures</b>
    <br>
    Red is the colour of happiness, joy and celebration. It is the choice of colour worn by brides on their wedding day as it is considered to bring luck, long life and happiness. Chinese restaurants often use this colour in America as it is believed to bring luck and happiness. In India, it is associated with life, anger and danger.
    <br>
    <b>Western Cultures (North America And Europe)</b>
    <br>
    It is associated with power and has religious undertones when used with the colour green for Christmas.
    <br>
    <b>Middle East</b>
    <br>
    The colour red evokes feelings of caution and danger and is believed to be evil.
  </span>
</div>
